.class1 {
    color:#fff;
}

.class2 {
    color:black  !important;
}

.active {
    color: orange !important;
}

.stickyheader {
    position:fixed;
    background-color: white !important;
    color:black !important;
    top:0; 
    width:100%;
    z-index: 1;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
    border-bottom: 1px solid lightgray;
  }