.class1 {
    color:#fff;
    font-weight: bold;
}

.class2 {
    color:black  !important;
    font-weight: bold;
}

.active {
    color: #F93E4C !important;
    font-weight: bold;
}

.header-border {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)
}

.stickyheader {
    position:fixed;
    background-color: white !important;
    color:black !important;
    top:0; 
    width:100%;
    z-index: 1;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
    border-bottom: 1px solid lightgray;
  }