<app-header></app-header>
<router-outlet></router-outlet>
 <!-- highrisk -->
 <section class="highrisk bg-light border-top text-center mt-5 pb-5" id="highrisk">
    <div class="container">
      <p class="text-muted p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium ut
        accusantium,
        eligendi eos asperiores aliquam dicta fugiat unde. Laudantium voluptatum quibusdam eveniet perspiciatis esse
        cum!
        Perspiciatis similique doloribus iste neque reiciendis temporibus hic sapiente a voluptatum minus necessitatibus
        libero animi molestiae recusandae natus, sint placeat. Deserunt doloribus reprehenderit nihil eligendi illum aut
        libero nam maiores sequi numquam consequuntur ipsum facilis, facere id amet eum repellat itaque commodi quas
        error, necessitatibus odio quos, vitae neque.</p>
      <h4>Kemp House,160 City Road, London EC1V 2NX</h4>
      <h5>Please Read our full <span class="text-danger">terms and conditions</span></h5>
    </div>
  </section>
