<app-header></app-header>
<router-outlet></router-outlet>
 <!-- highrisk -->
 <section class="highrisk bg-light border-top text-center mt-5 pb-5" id="highrisk">
    <div class="container">
      <p class="text-muted p-3">High Risk Warning. Trading foreign exchange on margin carries a high level of risk, and may not be suitable for everybody. The high degree of leverage can work against you as well as for you. Before deciding to trade foreign exchange you should carefully consider your trading objectives, level of experience, and risk appetite. The possibility exists that you could sustain a loss of some or all of your initial trading capital and therefore you should not deposit money that you cannot afford to lose. You should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent advisor if you have any doubts. This site should not be regarded as an advertising or solicitation medium but an information distribution channel. Nothing on this site should be considered as an advertisement, offer or solicitation to use our services.</p>
      <h5><strong>Kemp House,160 City Road, London EC1V 2NX</strong></h5>
      <h5><strong>Please Read our full &nbsp;</strong><span class="text-danger" style="cursor: pointer;" routerLink="/information/termsandconditions">terms and conditions</span></h5>
    </div>
  </section>
