<!-- ContactUs -->
<section class="ContactUs py-5" id="ContactUs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 my-auto">
          <h1 class="font-weight-bold text-uppercase py-3 sub-header">contact Us</h1>
          <p>CXM Prime is built on a wealth of experience and business knowledge, developed by industry veterans. CXM Prime leaders are specialists in both CFD and FX liquidity.  CXM Prime offers a full range of liquidity and technology solutions to institutional clients.The pure business-to-business model of the company makes tailor-made solutions customized to each broker's unique needs. </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="assets/contactus.png" alt="ContactUs" class="w-100 h-100">
        </div>
      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="contact py-4 mt-5" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <form class="">
            <div class="row">
              <div class="col-md-6 col-sm-12 form-group">
                <input type="text" class="form-control for  bg-dark text-white" id="formGroupExampleInput" placeholder="First Name">
              </div>
              <div class="col-md-6 col-sm-12 form-group">
                <input type="text" class="form-control for  bg-dark text-white" id="formGroupExampleInput2" placeholder="Last Name">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" placeholder="Contact Num">
            </div>
            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" placeholder="Skype ID">
            </div>
            <div class="form-group">
              <textarea type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" rows="6" placeholder="Message"></textarea>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <h4 class="font-weight-bold text-danger">Accounts @example.com</h4>
          <h6>Lorem ipsum dolor sit, amet consect</h6>
          <img src="assets/maps.webp" class="w-100 h-75 my-2 border-dark rounded" alt="">


        </div>
      </div>
      <button class="btn btn-sm btn-danger px-5 mt-4">ENQUIRE</button>
    </div>
  </section>