<!-- ContactUs -->
<section class="ContactUs pb-3" id="ContactUs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 my-auto">
          <h2 class="font-weight-bold text-uppercase py-3">contact Us</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque fugiat ratione
            obcaecati, mollitia
            dolorem error amet sequi magnam libero architecto! Temporibus ipsa similique ea sed laboriosam maiores ineius.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at ullam id! Eos ipsam beatae, placeat quia </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="assets/contactus.png" alt="ContactUs" class="w-100 h-100">
        </div>
      </div>
    </div>
  </section>

  <!-- contact -->
  <section class="contact py-4 mt-5" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <form class="">
            <div class="row">
              <div class="col-md-6 col-sm-12 form-group">
                <input type="text" class="form-control for  bg-dark text-white" id="formGroupExampleInput" placeholder="First Name">
              </div>
              <div class="col-md-6 col-sm-12 form-group">
                <input type="text" class="form-control for  bg-dark text-white" id="formGroupExampleInput2" placeholder="Last Name">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" placeholder="Contact Num">
            </div>
            <div class="form-group">
              <input type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" placeholder="Skype ID">
            </div>
            <div class="form-group">
              <textarea type="text" class="form-control  bg-dark text-white" id="formGroupExampleInput2" rows="6" placeholder="Message"></textarea>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <h4 class="font-weight-bold text-danger">Accounts @example.com</h4>
          <h6>Lorem ipsum dolor sit, amet consect</h6>
          <img src="assets/maps.webp" class="w-100 h-75 my-2 border-dark rounded" alt="">


        </div>
      </div>
      <button class="btn btn-sm btn-danger px-5 mt-4">ENQUIRE</button>
    </div>
  </section>