 <!-- AboutUs -->
 <section class="AboutUs py-5" id="AboutUs">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-auto">
        <h1 class="font-weight-bold text-uppercase py-3 sub-header">About Us</h1>
        <p>CXM Prime is built on a wealth of experience and business knowledge, developed by industry veterans. CXM Prime leaders are specialists in both CFD and FX liquidity.  CXM Prime offers a full range of liquidity and technology solutions to institutional clients.The pure business-to-business model of the company makes tailor-made solutions customized to each broker's unique needs.</p></div>
        <div class="col-md-6 col-sm-12">
          <img src="assets/aboutus.png" alt="AboutUs" class="w-100 h-100">
        </div>
      
    </div></div>
  </section>

  <!-- OurMission -->
  <section class="OurMission" id="OurMission">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="assets/OurMission.png" alt="Mission " class="w-100 h-100">
      </div>
      <div class="col-md-6 col-sm-12 my-auto">
        <h2 class="font-weight-bold my-4 pl-5 text-uppercase">Our Mission</h2>
        <p class="w-75 pl-5">We're offering you the best trading atmosphere to concentrate on trading and become a successful trader.

          For traders, CXM Trading was developed by traders. Our team members have over 50 years of combined trading,market making, dealing,liquidity management experience and have actively traded from Asia to North America on all major financial markets. 
          </p>
        <button class="btn btn-sm btn-danger px-4 ml-5 mt-2">ENQUIRE</button>

      </div>
    </div>
  </div>
  </section>

 
