 <!-- AboutUs -->
 <section class="AboutUs" id="AboutUs">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 my-auto">
        <h2 class="font-weight-bold text-uppercase py-3">About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque fugiat ratione
          obcaecati, mollitia
          dolorem error amet sequi magnam libero architecto! Temporibus ipsa similique ea sed laboriosam maiores ineius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at ullam id! Eos ipsam beatae, placeat quia </p></div>
        <div class="col-md-6 col-sm-12">
          <img src="assets/aboutus.png" alt="AboutUs" class="w-100 h-100">
        </div>
      
    </div></div>
  </section>

  <!-- OurMission -->
  <section class="OurMission" id="OurMission">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="assets/OurMission.png" alt="Mission " class="w-100 h-100">
      </div>
      <div class="col-md-6 col-sm-12 my-auto">
        <h2 class="font-weight-bold my-4 pl-5 text-uppercase">Our Mission</h2>
        <p class="w-75 pl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque fugiat ratione
          obcaecati, mollitia
          dolorem error amet sequi magnam libero architecto! Temporibus ipsa similique ea sed laboriosam maiores ineius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at ullam id! Eos ipsam beatae, placeat quia </p>
        <button class="btn btn-sm btn-danger px-4 ml-5 mt-2">ENQUIRE</button>

      </div>
    </div>
  </div>
  </section>

 
