<header>
        <div class="container-fluid" style="text-align: center;padding:10px 0px;">
          <h1>Cookies Policy</h1>
          <p><span style="max-width:500px;display:inline-block">This policy explains how cookies are used on our website, what cookies may be set when you visit our website and how to manage and delete them.</span></p>
        </div>
    </header>

    <section>
        <div class="container">
          <div class="column">
                
                
                
                <h6><strong>&nbsp;</strong><strong>What are cookies?</strong></h6>
                <p>Cookies are small text files containing a string of characters that are stored on your computer or mobile device and uniquely identify your browser or device.</p>
                <h6><strong>What are cookies used for?</strong></h6>
                <p>Cookies allow a site or services to know if your computer or device has visited that site or service before. Cookies can then be used to help match content to your preferred interests, help you navigate between pages efficiently, help remember your preferences, and improve your browsing experience.</p>
                <h6><strong>The cookies we use do not store any personally identifiable data such as:</strong></h6>
                <ul>
                  <li>Names</li>
                  <li>Phone numbers</li>
                  <li>Email addresses</li>
                  <li>Mailing addresses</li>
                  <li>Bank Account Numbers</li>
                  <li>Credit Card Information</li>
                </ul>
                <h6><strong>About this Cookie Policy</strong></h6>
                <p>This Cookie Policy applies to our websites and mobile applications.&nbsp;</p>
                <p>This Cookie Policy forms part of our website security and privacy provisions.</p>
                <p>By accessing our website, you agree that this Cookie Policy will apply whenever you access our website on any device.</p>
                <p>We reserve the right to update this Cookie Policy from time to time. Any changes will be posted within this page and shall become effective as soon as they are posted. Continued use of the website constitutes your agreement to all such updates.</p>
                <h6><strong>Use of cookies</strong></h6>
                <p>We may collect information automatically when you visit our website, using cookies or local storage in the case of mobile. This allows us to identify your computer and find out details about your last visit.</p>
                <ul>
                  <li>Cookies help us recognise you as a unique visitor when you return to our website, allowing us to tailor your online experience.</li>
                  <li>They enable us to measure and understand how visitors use our site, driving improvement.</li>
                  <li>We might store information entered in tools, such as calculators or demonstrations on our website. This information may need to be temporarily stored to deliver these types of services efficiently and is not used for any other means.</li>
                </ul>
                <p>If you choose not to allow cookies, the quality of your browsing experience may be reduced.</p>
               
                <p>Information collected by cookies does not personally identify you, but it does identify your computer and your connection to the internet. We only collect general information about your computer settings, your connection to the Internet e.g. operating system and platform, IP address, browsing patterns and interactions with our sites. You can find further information on cookies, by visiting the following sites:</p>
               
                <p>AboutCookies.org - &nbsp;
                  <a href="https://www.aboutcookies.org/">https://www.aboutcookies.org/</a>
                </p>
                
                <p>Wikipedia - &nbsp;
                  <a href="https://en.wikipedia.org/wiki/HTTP_cookie">https://en.wikipedia.org/wiki/HTTP_cookie</a>
                </p>
               
                <p>Information Commissioner’s Office -&nbsp;
                  <a href="https://ico.org.uk/">https://ico.org.uk/</a>&nbsp;
                </p>
               
                <h6>Types of cookies we use</h6>
                <p>The cookies used on our websites are based on the categories listed in&nbsp;
                  <a href="http://www.international-chamber.co.uk/blog/2012/04/02/launch-of-icc-uk-cookie-guide">the International Chamber of Commerce UK Cookie guide.</a>
                </p>
               
                <p>These categories are:</p>
                <ul>
                  <li>Strictly necessary cookies.</li>
                  <li>Performance cookies.</li>
                  <li>Functionality cookies.</li>
                  <li>Targeting or advertising cookies.</li>
                </ul>
                <h6><strong>Strictly necessary cookies</strong></h6>
                <p>Strictly necessary cookies are essential for our site to function and allow you to access secure areas. These are primarily session cookies and are deleted when you leave the site.</p>
                <h6>Strictly necessary cookies are used to:</h6>
                <ul>
                  <li>Display the most appropriate website to different types of user.</li>
                  <li>Allow you to login to our transactional secure sites.</li>
                </ul>
                <p>These cookies cannot be turned off individually but you can&nbsp;
                  <a href="https://www.fidelity.co.uk/investor/about/security-privacy/cookie-policy/default.page?">change your browser setting</a> to refuse all cookies if you do not wish to accept them. However, without these cookies, services like accessing your online account cannot be provided. People who reject these cookies cannot use these services.
                </p>
                <h6><strong>Performance Cookies</strong></h6>
                <p>Performance cookies are used to measure browsing activity, in order to learn about how you use our website. For example, which pages you go to most frequently, how you link to our site and whether you have any issues or error messages from web pages.</p>
                
                <p>These cookies do not collect information that identifies you. Any information collected by these cookies is aggregated and therefore anonymous. We only use this information to improve how our website works and to provide you with a better online experience.</p>
                <h6><strong>PERFORMANCE COOKIES ARE USED TO:</strong></h6>
                <ul>
                  <li>Measure the performance of our website and collect information on how you use it in order for us to provide you with the best possible online service.</li>
                  <li>Help us improve our website by measuring any errors you may experience.</li>
                  <li>Help us test different designs on our website in order to improve your online experience.</li>
                </ul>
                <p>By using our website, you indicate that you accept the use of 'Performance' cookies. Preventing them will affect our ability to improve our site for our users.</p>
                <p>Google Analytics (GA) is a web analytics service provided by Google Inc. that provides statistics about visitors to our website. You can find further information on how to opt out of these cookies by visiting:&nbsp;
                  <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
                </p>
                <h6> <strong>Functionality cookies</strong></h6>
                <p>Functional cookies allow us to remember certain preferences you have selected in order for us to tailor our website to you.</p>
                <h6><strong>FUNCTIONAL COOKIES ARE USED TO:</strong></h6>
                <ul>
                  <li>Remembering if you have previously accepted terms and conditions to prevent repetitive pop-up messages or disclaimers.</li>
                  <li>Share information with partners to provide a service on our website. The information shared is only to be used to provide the service, product or function and not for any other purpose</li>
                </ul>
                <p>You can control whether these cookies are used but preventing them may mean we cannot offer you some services or promotions. It is also possible that preventing these cookies prevents us from remembering that you did not want a specific service.</p>
                <p>We may also embed video content from websites, such as YouTube. As a result, when you visit a page with content embedded from YouTube, you may be presented with cookies from these websites. Our Firm does not control the dissemination of these cookies. You should use the links above to check the relevant third-party website for more information.</p>
                <h6><strong>How to control your cookie settings</strong></h6>
                <p>Most internet browsers accept cookies automatically, but you can change the settings of your browser to erase cookies or prevent automatic acceptance if that is your preference.</p>
                
                <p>These links explain how you can control cookies via your browser - remember that if you turn off cookies in your browser, these settings will apply to all the websites you visit.</p>
                
                <p>Internet Explorer: &nbsp;&nbsp;
                  <a href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer">https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>
                </p>
                <p>Chrome: &nbsp;&nbsp;
                  <a href="https://support.google.com/chrome/answer/95647?hl=en-GB">https://support.google.com/chrome/answer/95647?hl=en-GB</a>
                </p>
                <p>Safari: &nbsp;&nbsp;
                  <a href="https://support.apple.com/kb/index?q=remove+cookies&amp;src=globalnav_support&amp;type=organic&amp;page=search&amp;locale=en_US">https://support.apple.com/kb/index?q=remove+cookies&amp;src=globalnav_support&amp;type=organic&amp;page=search&amp;locale=en_US</a>
                </p>
                <p>Firefox: &nbsp;&nbsp;
                  <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?redirectlocale=en-US&amp;redirectslug=Enabling+and+disabling+cookies">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?redirectlocale=en-US&amp;redirectslug=Enabling+and+disabling+cookies</a>
                </p>
                <p>&nbsp;</p>
          </div>
        </div>
    </section>
    