<header class="py-5">
        <div class="container-fluid" style="text-align: center">
          <h1>Privacy Policy</h1>
        </div>
    </header>

    <section>
        <div class="container">
          <div class="column">
               
<h6><strong>Introduction</strong></h6>
<p>Your privacy and trust are important to us and this Statement explains how Alchemy Prime Limited and its affiliated companies handle personal data. We may make changes to this Statement from time to time and it is important that you check this Statement for any updates.</p>
<h6><strong>How we use personal data</strong></h6>
<p>We collect, use, disclose, transfer and store personal data when needed to provide our services and for our operational and business purposes as described in this Statement. We want to be clear about our privacy practices, so you can make informed choices about the use of your personal data. You can contact us at any time with questions or concerns.</p>
<p>This information is collected from several sources, and may include information received from our clients:</p>
<p>whether in writing;</p>         
<ul style="list-style: none;">
  <li>whether in writing</li>
  <li>in person</li>
  <li>by telephone</li>
  <li>electronically</li>
  <li>on applications or other forms</li>
</ul>
<p>This information may include information about their transactions with us, our affiliates, and others which may consist of:</p>
<ul>
  <li>information about account balances</li>
  <li>counter parties to transactions</li>
  <li>information we might receive from credit reporting companies such as credit reports; and</li>
  <li>information collected from the Internet</li>
</ul>
<h6><strong>Information We Disclose</strong></h6>
<p>We do not sell any information about our clients. Only upon our clients’ specific request will information such as name, income, and assets be shared with our related companies. From time to time and when we deem it necessary to facilitate the handling of our relationship with our clients, we will share appropriate information with third parties and partner companies as permitted by law. We only share information that is required for third parties to perform their job. For example, we may disclose information to third parties such as data processing providers and brokers when using them to execute orders.</p>
<h6><strong>Our legal obligations</strong></h6>
<p>We may be required to retain and use personal data to meet our internal and external audit requirements, for data security purposes and as we believe to be necessary or appropriate:</p>
<ul>
  <li>To comply with our obligations under applicable law and regulations, which may include laws and regulations outside your country of residence</li>
  <li>To respond to requests from courts, law enforcement agencies, regulatory agencies, and other public and government authorities, which may include such authorities outside your country of residence</li>
  <li>To monitor compliance with and enforce our Platform terms and conditions</li>
  <li>To carry out anti-money laundering, sanctions or Know Your Customer checks as required by applicable laws and regulations</li>
  <li>To protect our rights, privacy, safety, property, or those of other persons; or</li>
  <li>In the event of a merger, sale, restructure, acquisition, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock (including in connection with any bankruptcy or similar proceedings)</li>
</ul>
<p>We may also be required to use and retain personal data after you have closed your account for legal, regulatory and compliance reasons, such as the prevention, detection or investigation of a crime; loss prevention; or fraud prevention</p>
<h6><strong>Trade activity on the platform</strong></h6>
<p>In order to meet with our internal compliance and regulatory obligations we monitor your trading activity such as the frequency of your trading and number of trades, and monetary activity such as number of deposits/withdrawals, payment methods used, your device information and IP.</p>
<h6><strong>Obtaining a copy of your personal data and correcting mistakes</strong></h6>
<p>We respect your right to access and control your personal data. We will respond to requests for personal data and, where applicable, will correct, amend or delete your personal data.</p>
<h6><strong>Access to personal data</strong></h6>
<p>We will give you access to your personal data (including a copy or the ability for us to send your personal data to another provider) on request, unless any relevant legal requirements prevent us from doing so or other exemptions apply. Before providing access to you, we will ask you to prove your identity and give us sufficient information about your interaction with us so that we can locate any relevant data.</p>
<h6><strong>Correction and deletion</strong></h6>
<p>You have the right to correct or amend your personal data if it is inaccurate or requires updating. You may also have the right to request us to delete your personal data. If you request that we delete your personal data, this will result in the automatic closure of your account and we will remove your personal data from active processing. However, we will be required to maintain your personal data to comply with our legal and regulatory requirements as well as in accordance with our internal compliance requirements in relation to maintaining records.</p>
<h6><strong>Security of Information</strong></h6>
<p>We are committed to safeguarding and protecting personal data and will implement and maintain appropriate technical and organisational measures to ensure a level of security to protect any personal data provided to us from accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to personal data transmitted, stored or otherwise processed. We maintain physical, electronic, and procedural safeguards to protect our clients’ personal information and have strict internal policies against unauthorised use or disclosure of client information. Our clients’ information is accessible only to employees who need it to provide services to the client. All of our employees are required to follow our data privacy and security policies when handling personal data and are reminded on a regular basis of their obligations with regard to the confidentiality of client information through employee training and by operating procedures.</p>
<h6><strong>Data retention</strong></h6>
<p>We will retain your personal data for a minimum of five years or for as long as we reasonably require it for legal or business purposes. In determining data retention periods, we take into account local laws, contractual obligations, and the expectations and requirements of our customers. When we no longer need personal data, we securely delete or destroy it.</p>
<h6><strong>Contacting us about this statement or making a complaint</strong></h6>
<p>If you have any queries about the contents of this Statement ,wish to inform us of a change or correction to your personal data, would like a copy of the data we collect on you, or would like to raise a complaint or comment, please contact us via email to accounts@cxmprime.com If you are not satisfied with our response or believe we are not processing your personal data in accordance with the law, you can escalate your complaint to the data protection regulator in your jurisdiction. The Information Commissioner’s Office can be contacted at Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF. Further information is available on the Information Commissioner's website at 
  <a href="https://ico.org.uk./">https://ico.org.uk.</a>&nbsp;
</p>
<p>&nbsp;</p>
          </div>
        </div>
    </section>
    