/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,
body,
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Roboto';
}
.description {
  font-family: 'Poppins';
}
.sub-header {
  font-family:'hemi-head';
}

@font-face {
  font-family: hemi-head;
  src: url('./assets/font/hemi-head.ttf') format("opentype");
}
p {
  text-align:justify;
}
h1 {font-size:1rem;}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;}
    .footer-menu {
      margin-right:0px;
    } /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:2rem;}
    .footer-menu {
      margin-right:50px;
    } /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:3.5rem !important;}
    .footer-menu {
      margin-right:50px;
    } /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:3rem;}
    .footer-menu {
      margin-right:50px;
    } /*1rem = 16px*/    
  }

  .OurMission {
      padding-top:60px;
  }