<header  style="background:url(../assets/slider.png) no-repeat center;background-size: cover; ">
   

    <app-header></app-header>
    <div class="container">
   
        <main class="text-left text-infoo">
          <h1 class="text-uppercase">LIQUIDITY FOR<br>PROFESSIONALS</h1>
          <h6 class="my-4">Assemble top tier liquidity, so that you don't have to</h6>
          <button class="btn btn-sm btn-danger px-5">ENQUIRE</button>
        </main>
      
      </div>
  
  </header>
  
<section class="OurMission" id="OurMission">
    <div class="container container-fluid-md">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="assets/OurMission.png" alt="Mission " class="w-100 h-100">
      </div>
      <div class="col-md-6 col-sm-12 my-auto">
        <h2 class="font-weight-bold my-4 pl-5 text-uppercase">Our Mission</h2>
        <p class="w-75 pl-5">We're offering you the best trading atmosphere to concentrate on trading and become a successful trader.
          For traders, CXM Trading was developed by traders. Our team members have over 50 years of combined trading,market making, dealing,liquidity management experience and have actively traded from Asia to North America on all major financial markets.</p>
      </div>
    </div>
  </div>
  </section>

   <!-- OurProductes -->
   <section class="OurProductes my-3" id="OurProductes">
    <div class="container">
      <h2 class="font-weight-bold py-5 text-uppercase text-center">Our Productes</h2>
      <div class="row text-center" style="padding:10px">
        <div class="col-lg-4 col-md-12">
          <img src="assets/FOREX.png" alt="FOREX" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">FOREX</h4>
          <p>Trade in all big and exotic currency pairs in the fastest growing and rising market in the world.</p>
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="assets/CFD.png" alt="CFD" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">CFD</h4>
          <p>Unified CFD and spot foreign exchange liquidity from leading suppliers of liquidity.</p>
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="assets/STOCKS.png" alt="STOCKS" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">STOCKS</h4>
          <p>Confidently trade shares of the world's biggest corporations.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- paymentoption -->
  <section class="paymentoption py-3" id="paymentoption">
    <div class="container">
      <h2 class="font-weight-bold py-5 text-uppercase text-center">payment option</h2>
      <div class="row text-center">
        <div class="col-lg-6 col-md-12 my-2">
          <img src="assets/payment.png" alt="payment" class="w-100 h-auto">
        </div>
        <div class="col-lg-6 col-md-12 my-2">
          <img src="assets/payment1.png" alt="payment" class="w-100 h-auto">
        </div>
      </div>
    </div>
  </section>

  <!-- highrisk -->
  <section class="highrisk bg-light border-top text-center mt-5 pb-5" id="highrisk">
    <div class="container">
      <p class="text-muted p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa praesentium ut
        accusantium,
        eligendi eos asperiores aliquam dicta fugiat unde. Laudantium voluptatum quibusdam eveniet perspiciatis esse
        cum!
        Perspiciatis similique doloribus iste neque reiciendis temporibus hic sapiente a voluptatum minus necessitatibus
        libero animi molestiae recusandae natus, sint placeat. Deserunt doloribus reprehenderit nihil eligendi illum aut
        libero nam maiores sequi numquam consequuntur ipsum facilis, facere id amet eum repellat itaque commodi quas
        error, necessitatibus odio quos, vitae neque.</p>
      <h4>Kemp House,160 City Road, London EC1V 2NX</h4>
      <h5>Please Read our full <a span class="nav-link" href="termsandconditions.html">terms and conditions</a></h5>
      
    </div>
  </section>
