<header  style="background:url(../assets/slider.png) no-repeat center;background-size: cover; ">
   

    <app-header></app-header>
    <div class="container">
   
        <main class="text-left text-infoo">
          <h1 class="text-uppercase sub-header">LIQUIDITY FOR<br>PROFESSIONALS</h1>
          <h6 class="my-4">Assemble top tier liquidity, so that you don't have to</h6>
          <button class="btn btn-sm btn-danger px-5">ENQUIRE</button>
        </main>
      
      </div>
  
  </header>
  
<section class="OurMission" id="OurMission">
    <div class="container container-fluid-md">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="assets/OurMission.png" alt="Mission " class="w-100 h-100">
      </div>
      <div class="col-md-6 col-sm-12 my-auto">
        <h2 class="font-weight-bold my-4">OUR MISSION</h2>
        <p>We're offering you the best trading atmosphere to concentrate on trading and become a successful trader.</p>

        <p>For traders, CXM Trading was developed by traders. Our team members have over 50 years of combined trading,market making, dealing,liquidity management experience and have actively traded from Asia to North America on all major financial markets. 
          </p>
      </div>
    </div>
  </div>
  </section>

   <!-- OurProductes -->
   <section class="OurProductes my-3" id="OurProductes">
    <div class="container">
      <h2 class="font-weight-bold text-center" style="padding:5rem 0px !important">OUR PRODUCTES</h2>
      <div class="row text-center" style="padding:10px">
        <div class="col-lg-4 col-md-12">
          <img src="assets/FOREX.png" alt="FOREX" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">FOREX</h4>
          <p style="text-align:center"><span style="width:250px;display:inline-block">Trade in all big and exotic currency pairs in the fastest growing and rising market in the world.</span></p>
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="assets/CFD.png" alt="CFD" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">CFD</h4>
          <p style="text-align:center"><span style="width:250px;display:inline-block">Unified CFD and spot foreign exchange liquidity from leading suppliers of liquidity.</span></p>
        </div>
        <div class="col-lg-4 col-md-12">
          <img src="assets/STOCKS.png" alt="STOCKS" style="width: 200px;height:170px">
          <h4 class="text-danger m-4">STOCKS</h4>
          <p style="text-align:center"><span style="width:250px;display:inline-block">Confidently trade shares of the world's biggest corporations.</span></p>
        </div>
      </div>
    </div>
  </section>

  <!-- paymentoption -->
  <section class="paymentoption py-4" id="paymentoption">
    <div class="container">
      <h2 class="font-weight-bold py-5 text-center">PAYMENT OPTIONS</h2>
      <div class="row text-center">
        <div class="col-lg-6 col-md-12 my-2">
          <img src="assets/payment.png" alt="payment" class="w-100 h-auto">
        </div>
        <div class="col-lg-6 col-md-12 my-2">
          <img src="assets/payment1.png" alt="payment" class="w-100 h-auto">
        </div>
      </div>
    </div>
  </section>

  <!-- highrisk -->
  <section class="highrisk bg-light border-top text-center mt-5 pb-5" id="highrisk">
    <div class="container">
      <p class="text-muted p-3">High Risk Warning. Trading foreign exchange on margin carries a high level of risk, and may not be suitable for everybody. The high degree of leverage can work against you as well as for you. Before deciding to trade foreign exchange you should carefully consider your trading objectives, level of experience, and risk appetite. The possibility exists that you could sustain a loss of some or all of your initial trading capital and therefore you should not deposit money that you cannot afford to lose. You should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent advisor if you have any doubts. This site should not be regarded as an advertising or solicitation medium but an information distribution channel. Nothing on this site should be considered as an advertisement, offer or solicitation to use our services.</p>
      <span><strong>Kemp House,160 City Road, London EC1V 2NX</strong></span>
      <div><strong>Please read our full &nbsp;</strong> <span class="text-danger" style="cursor: pointer;" routerLink="/information/termsandconditions">terms and conditions</span></div>
      
    </div>
  </section>
