<header class="py-5">
        <div class="container-fluid" style="text-align: center">
          <h2 class="description font-weight-bold">WEBSITE TERMS AND CONDITIONS</h2>
        </div>
    </header>

    <section>
        <div class="container">
          <div class="column">
               
                <h6><strong>Introduction</strong></h6>
                <p>This document sets out the terms of use by which you may access our website, either as a guest or as a registered user. Please read these terms of use carefully before you decide to use the website. These terms and conditions govern your use of this website and by accessing this website you agree to be bound by them. If you do not consent to these terms of use, please refrain from using our website.</p>
                <h6><strong>Company Information</strong></h6>
                <p>CXM Prime&nbsp;is a trading name of Alchemy Prime Limited. Alchemy Prime Limited is registered in England and Wales under company number 08698974. Our registered office is situated at Kemp House, 160 City Road, London EC1V 2NX. Alchemy Prime Limited is Authorised and Regulated by the Financial Conduct Authority with the register number 612233.</p>
                <h6><strong>Website Terms</strong></h6>
                <p>Please note that if you are an existing Client, these terms will apply in addition to those contained in your Client Agreement, you can obtain an additional copy on request. All of our products and services are also subject to particular terms and conditions which determine their use. We reserve the right to change these terms and conditions at any time without notice by updating this document, and your continued access to or use of this website will constitute your acceptance of any such changes.</p>
                <h6><strong>Use of our Website</strong></h6>
                <p>We reserve the right to withdraw or amend the services provided on our website without notice. We will not be liable if for any reason our site is unavailable at any time or for any period.&nbsp;</p>
               
                <p>If we provide you with, or you choose, a user name, password or any information in line with our security procedures, you are required to treat such information as confidential, and you must not disclose it to any third party. We may, at our sole discretion disable any user name or password, whether chosen by you or allocated by us, at any time, where we believe you have failed to comply with any of the stipulations of these terms of use.&nbsp;</p>
              
                <p>You are responsible for making all relevant arrangements in order to access our website. You are also responsible for ensuring that anyone who access our site through your internet connection is aware of these terms and comply with them.&nbsp;</p>
               
                <p>The entire content of this website is protected by Copyright Laws and International Treaties. All rights are reserved.&nbsp;</p>
               
                <p>You may print off a copy, or download extracts, of any page(s) from our site for your personal use only.&nbsp;</p>
                
                <p>You may not modify the physical or digital copies of any materials you have printed off or downloaded in any way, and you may not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.&nbsp;</p>
               
                <p>You may not use any part of the materials on our site for commercial purposes without obtaining permission from us.</p>
                <h6><strong>Third-Party Products and Services</strong></h6>
                <p>Commentary and other materials posted on our site are not intended to represent advice on which you should rely. Consequently, we reject all liability and responsibility for any occurrence caused by any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.</p>
                <h6><strong>Website Updates</strong></h6>
                <p>We endeavor to update our website regularly and may alter the content at any time. We reserve the right to modify, suspend or discontinue, temporarily or permanently, the site or any part of it, with or without notice, at any time. You agree that we shall not be liable to you or to any third-party for any such modification, suspension or discontinuance of the site. Any of the material on our site may be out of date at any given time, and we are under no obligation to update all material.</p>
               
                <p>We may amend these terms of use at any time. You are expected to check this page occasionally to note any changes that have been made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by notices published elsewhere on our site.</p>
                <h6><strong>No Liability</strong></h6>
                <p>Although we have taken all reasonable care to ensure that the information provided on this site is accurate, we give no warranties of any kind, express or implied, with regard to the accuracy, timeliness or completeness of any such information. To the extent permitted by law, we exclude:</p>
                <ul>
                  <li>All conditions, warranties and other terms which may otherwise be implied by common law or the law of equity.</li>
                  <li>Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:</li>
                  <li>loss of income or revenue;
                    <br>loss of business;
                    <br>loss of profits or contracts;
                    <br>loss of anticipated savings;
                    <br>loss of data;
                    <br>&nbsp;loss of goodwill; and
                  </li>
                </ul>
                <p>for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.&nbsp;</p>
                <p>We do not exclude our duties or liabilities under the Financial Services and Markets Act 2000.</p>
                <h6><strong>Viruses, Hacking and other Offences</strong></h6>
                <p>You may not misuse our website by knowingly introducing viruses, trojans, worms, logic bombs or other malicious material. You may not seek to gain unauthorized access to our website, the server on which our website is stored, or any server, computer or database linked to our website.&nbsp;</p>
                
                <p>Breach of this provision is a criminal offence under the Computer Misuse Act 1990 and will be reported to the relevant authorities. In the event of such a breach, your access to our website will be terminated immediately.&nbsp;</p>
               
                <p>We will not be liable for any loss or damage arising from viruses or other technologically harmful materials that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our website or to your downloading of any material posted on it, or on any website linked to it.</p>
                <h6><strong>Links from our Website</strong></h6>
                <p>Our website may contain links to other websites and material provided by third parties, these links are provided for your information only. You use such links entirely at your own risk and we accept no responsibility or liability for the content, use or availability of such websites. We have not verified the truth or accuracy of any content of such websites. Any complaints or inquiries regarding a link to other sites or and resources provided by third parties should be directed to the third party.</p>
                <h6><strong>Governing Law</strong></h6>
                <p>English law governs these terms and conditions and you agree that the English Courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our site although we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant jurisdiction.</p>
                <h6><strong>Your Feedback</strong></h6>
                <p>We want to hear from you if you are dissatisfied with our services. Notifying us of your concerns gives us the opportunity to put matters right for you and improve our services. You can do so in writing, by email or by telephone. If you have any concerns about material which appears on our site, please contact: accounts@cxmprime.com</p>
          </div>
        </div>
    </section>
    